.Main {
    .flex();
    .flex-direction(column);
    height: 100%;
}

.Main-header {
    .flex-flex(0, 0, auto);
    background: #fff;
    text-align: center;
}

.Main-content {
    .flex-flex();
    .flex();
    .flex-justify-content(center);
    .flex-align-items(center);
    background: #eee;
}
