<header class="Main-header">
    <div class="Main-logo">
        Memory Game
    </div>
    <div class="Main-toolbar">
        <div class="Main-status"></div>
        <div class="Main-actions">
            <button type="button" class="newGameBtn">New Game</button>
        </div>
    </div>
</header>
<main class="Main-content"></main>
